@charset "utf-8";
/**
 * ! Bstones template v0.1
 * @comment     customize v0.1
 * @author      MCShin
 * @Write		2016-03-04
 * @Modify		2016-03-15
 */

/* ==========================================================================
   기본 스타일
   ========================================================================== */

html,button,input,select,textarea {color:#222;} 
h1,h2,h3,h4,h5,h6 {font-size:100%; line-height:1.2;}
i,em,address {font-style:normal; font-weight:normal;}
table {width:100%; table-layout:fixed;}

/* 드래그로 블록 선택시(텍스트영역) text-shadow 삭제 및 윈도우 기본색상으로 통일 */
::-moz-selection {background:#b3d4fc; text-shadow:none;} 
::selection {background:#b3d4fc; text-shadow:none;}

/* 기본 fieldset styles 초기화  */
fieldset {border:0; margin:0; padding:0;}

/* textarea 세로크기 조정만 허용 */
textarea {resize:vertical;}

/* 특수 font 기본디자인 초기화 */
i,em,address {font-style:normal; font-weight:normal;}

/* ==========================================================================
   헬퍼 클래스들
   ========================================================================== */

/* 스크린 리더와 웹브라우져에서 모두 숨김처리 */
.hidden {display:none !important; visibility:hidden;}

/* 스크린 리더기에서만 보이도록 숨김처리 */
.visuallyhidden {border:0; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px;}

/* .visuallyhidden 클래스가 키보드로 접근가능하도록 */
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
    clip:auto;
    height:auto;
    margin:0;
    overflow:visible;
    position:static;
    width:auto;
}

.invisible {visibility:hidden;}

/* float준 요소 클리어 */
.clearfix:before,.clearfix:after {content:""; display:table;}
.clearfix:after {clear:both;}
.clearfix {*zoom:1;}

/* 
 * IR 기법
 * 1. Phark Method	: 이미지로 대체할 요소에 배경이미지를 설정하고 글자는 text-indent를 이용해 화면 바깥으로 빼내는 기법
 *					: CSS on / image off 시 텍스트가 안보인다는 단점이 있다.
 * 2. WA IR			: 이미지로 대체할 요소에 배경이미지를 설정하고 글자는 span 태그로 감싼후 z-index : -1을 이용해 화면에 안보이게 처리
 * // 위 두가지 IR 기법들은 웹접근성에 위배되므로 권장하지 않음 
 */ 
.ir-pm {text-indent:-9999px; display:block;} 
.ir-wa {display:block; position:relative; z-index:-1;}

/* 웹접근성 대응에 필요한 요소들 보이지 않도록 할때 사용할 클래스 */
.blind,legend,hr,caption {display:block; overflow:hidden; position:absolute; top:0; left:-1000em;}

/* 컨텐츠 블록 중앙정렬 */
.center-block {display:block; margin-right:auto; margin-left:auto;}
.pull-right {float:right !important;}
.pull-left {float:left !important;}

/* Js를 이용한 컨텐츠 제어시 사용할 클래스 */
.show {display:block !important;}
.hidden {display: none !important; visibility: hidden !important;}

/* 텍스트 줄임 */
.text-overflow {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:block;}

/* ==========================================================================
   jQuery 사용 시 필요한 CSS
   ========================================================================== */

/* faq */
.faq_list ul li {/*background:url('../../images/people/bg_faq01.gif') 30px 20px no-repeat; 백그라운드 이미지가 들어갈 시 사용*/ border-bottom:1px solid #ccc;}
.faq_list ul li p {display:none;}
.faq_list ul li.curr {/*background:url('../../images/people/bg_faq01_on.gif') 30px 20px no-repeat; 백그라운드 이미지가 들어갈 시 사용*/}
.faq_list ul li.curr p {display:block;}

/* lnb */
.lnb > ul > li.view > a {color:#fff; background:#595151 url('../../images/sub/bg_lnb.gif') no-repeat 163px center;}
.lnb > ul > li.view > ul {display:block;}
.lnb > ul > li > ul > li.on {background:url('../../images/sub/blt_on.gif') no-repeat left center;}
.lnb > ul > li > ul > li.on > a {color:#e71e26; font-weight:bold;}

/* input design */
.chk_img > .ico_chk {width:12px; height: 12px; margin:0; padding:0; background:url('../../images/common/bg_check.gif') no-repeat left top; display:inline-block; overflow:hidden; vertical-align:top; margin:3px 5px 0 0;}
.chk_img.on > .ico_chk {background-position:left -12px; display:inline-block; vertical-align:top; margin:3px 5px 0 0;}
.chk_img input[type=checkbox] {opacity:0; width:12px; height:12px;}

/* 체크박스 디자인 */
.checkbox {overflow:hidden; position:absolute; width:1px; height:1px; padding:0; border:0; margin:-1px; clip:rect(0 0 0 0);}
.checkbox + .label {color:#999; font-size:89%; cursor:pointer;}
.checkbox + .label:before {content:''; display:inline-block; margin:0 5px 0 0; width:13px; height:13px; border:1px solid #dfdfdf; text-align:center; vertical-align:middle; }
.checkbox:checked + .label:before {background:#bfbfbf;}

/* 라디오버튼 디자인 */
.radio {overflow:hidden; position:absolute; width:1px; height:1px; padding:0; border:0; margin:-1px; clip:rect(0 0 0 0);}
.radio + .label {color:#999; font-size:89%; cursor:pointer;}
.radio + .label:before {content:''; display:inline-block; margin:0 5px 0 0; width:13px; height:13px; border:1px solid #dfdfdf; text-align:center; vertical-align:middle; }
.radio:checked + .label:before {background:#bfbfbf;}

/* 파일첨부 버튼 디자인 */
.file_upload {position:relative; width:260px;}
.file_upload .file {position:absolute; width:1px; height:1px; opacity:0; overflow:hidden;}
.file_upload .label {display:inline-block; position:absolute; top:0; right:0; height:28px; padding:7px; background-color:#bfbfbf; color:#fff; cursor:pointer;}
.file_upload .file_route {width:200px; height:28px; border:1px solid #bfbfbf;}


/* layer popup */
.layer_pop {display:none;height:auto;}
.dim {background:#000;position:absolute;z-index:100;display:none;}

/* dropdown */
.dropdown {position:relative;}
.dropdown-list{position:absolute;z-index:100;top:100%;left:0;float:left;display:none;padding:5px 0;margin: -5px 0 0;min-width:150px;}
/* .dropdown-list-custom {-webkit-background-clip: padding-box;background-clip: padding-box;border: 1px solid #ccc;border: 1px solid rgba(0,0,0,.15);border-radius: 4px;-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);box-shadow: 0 6px 12px rgba(0,0,0,.175);} */
.dropdown-list > li {background:#fff; width:100%}
.dropdown-list > li > a {display: block;padding: 3px 20px;clear: both;font-weight: 400;line-height: 1.42857143;color: #333;white-space: nowrap;}
.open > .dropdown-list{display:block;}

/* touch slide 샘플 CSS */
#touchSlider { background:#ccc;width:100%; height:150px; background:#ccc; position:relative; overflow:hidden; }
#touchSlider ul { width:99999px; height:150px; position:absolute; top:0; left:0; overflow:hidden; }
#touchSlider ul li { float:left; width:100%; height:150px; font-size:14px; color:#fff; }

.btn_area { background:#f5f5f5;text-align:center; overflow:hidden; }
.btn_area button { display:block; width:100px;font-size:16px; color:#fff; font-weight:bold; border-radius:0; }
.btn_area button.btn_prev { float:left; }
.btn_area button.btn_next { float:right; }
.paging { background:#f5f5f5; text-align:center; overflow:hidden; }
.paging .btn_page { display:inline-block; width:10px; height:10px; margin:3px; font-size:0px; line-height:0; text-indent:-9999px; background:#3399CC; }
.paging .btn_page.on { background:#ff0000; }

/* ==========================================================================
   반응형 필요시 작성 할 영역
   ========================================================================== */

@media only screen and (max-width:768px) {      /* (35em) 560px*/
    /* 태블릿 영역 */
}

@media only screen and (max-width:480px){
    /* 모바일 (필요시 확장) */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* 고해상도 기기용 스타일 영역 */
}

/* ==========================================================================
   프린트용 스타일 ( 인쇄 필요시만 )
   ==========================================================================

@media print {
    *, *:before, *:after, *:first-letter, *:first-line {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {text-decoration: underline;}
    a[href]:after {content: " (" attr(href) ")";}
    abbr[title]:after {content: " (" attr(title) ")"; }
    a[href^="#"]:after, a[href^="javascript:"]:after { content: ""; } 
    tr,img {page-break-inside:avoid;}
    img {max-width:100% !important;}
    p,h2,h3 {orphans:3; widows:3;}
    h2,h3 {page-break-after:avoid;}
}
*/